# use C-a, since it's on the home row and easier to hit than C-b

unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix
# set-option -g prefix C-a
# unbind-key C-a
# bind-key C-a send-prefix
# index from 1

set -g base-index 1
# start with pane 1
set -g pane-base-index 1
# 
# set -g default-terminal "tmux-256color"
set -g default-terminal "xterm-256color"
# set -g default-terminal "screen-256color"

# reload tmux

# Easy config reload
bind-key R source-file ~/.tmux.conf \; display-message "tmux.conf reloaded."

# vi is good
setw -g mode-keys vi
# mouse behavior
setw -g mouse on

# use vim-like keys for splits and windows
# bind-key v split-window -h
# bind-key s split-window -v

bind-key v split-window -h -c '#{pane_current_path}'
bind-key - split-window -v -c '#{pane_current_path}'
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

# size pane
bind-key -r J resize-pane -D 3
bind-key -r K resize-pane -U 3
bind-key -r H resize-pane -L 3
bind-key -r L resize-pane -R 3

# set -g status-right '#{prefix_highlight} | %a %Y-%m-%d %H:%M'
# set -g @prefix_highlight_fg 'white' # default is 'colour231'
# set -g @prefix_highlight_bg 'blue'  # default is 'colour04'


# list of plugins
set -g @plugin 'tmux-plugins/tpm'
# set -g @plugin 'tmux-plugins/tmux-sensible'
# set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'catppuccin/tmux'
# set -g @plugin 'tmux-plugins/tmux-prefix-highlight'



# TMUX plugin manager (keep at the bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
